@model ICollection<Ads.Contracts.Dto.AdvertDto>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul class="list-group-item nav-item">
        @foreach (var item in Model)
        {
            <li class="nav-item text-dark">@item.Id @item.Name @item.CityId @item.Created @item.Price</li>
        }
    </ul>
</div>
