@using Ads.MVCClientApplication.Models
@model ManageVM
@{
    ViewData["Title"] = "Личный кабинет";
    int? GetCurrentUserId()
    {
        if (!User.Identity.IsAuthenticated)
            return null;
        int userId = Convert.ToInt32(
            User.Claims.FirstOrDefault(t =>
            t.Type == Authentication.Contracts.CookieAuthentication.CookieCustomClaimNames.UserId).Value);
        return userId;
    }
    int? UserId = GetCurrentUserId();
}
<input type="hidden" id="UserId" value="@UserId" />
<hr />
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills bg-light" id="left-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="left-adverts-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Мои объявления</a>
            <a class="nav-link" id="left-info-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Мои данные</a>
            <a class="nav-link" id="left-edit-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Настройки</a>
        </div>
    </div>
    <div class="col">
        <div class="tab-content" id="left-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="left-adverts-tab">
                <div class="colum" id="adverts">

                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="left-info-tab">
                <div class="form-group form-row">
                    <div class="col-3">
                        <div>
                            @if (!string.IsNullOrEmpty(Model.Avatar))
                            {

                                var src = string.Format("data:image/gif;base64,{0}", Model.Avatar);
                                <img class="card__img col" src="@src" alt="User avatar">
                            }
                            else
                            {
                                <img class="card__img col" src="~/images/Default user.png" data-holder-rendered="true">
                            }
                        </div>
                    </div>
                    <div class="col" id="user_info">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="left-edit-tab">
                <form method="post" asp-action="ChangeUserInfo" enctype="multipart/form-data" class="active">
                    <input hidden value="@UserId" name="Id" />
                    <div class="form-group form-row">
                        <div class="col-2">
                            <label class="control-lable">Фото</label>
                        </div>
                        <div class="col-3">
                            @if (!string.IsNullOrEmpty(Model.Avatar))
                            {

                                var src = string.Format("data:image/gif;base64,{0}", Model.Avatar);
                                <img class="col" src="@src" alt="User avatar">
                            }
                            else
                            {
                                <img class="col" src="~/images/Default user.png" data-holder-rendered="true" width="150" height="180">
                            }
                        </div>
                        <div class="col">
                            <input type="file" name="avatar" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group form-row">
                        <div class="col-2">
                            <label class="control-lable">Имя</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control" value="@Model.FirstName" name="FirstName" />
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-2">
                            <label class="control-lable">Фамилия</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control" value="@Model.LastName" name="LastName" />
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-2">
                            <label class="control-lable">Номер телефона</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control" value="@Model.PhoneNumber" name="PhoneNumber" />
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-2">
                            <label class="control-lable">E-mail</label>
                        </div>
                        <div class="col-6">
                            <input class="form-control" value="@Model.Email" name="Email" />
                        </div>
                    </div>
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </form>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
    
<link rel="stylesheet" href="~/css/_manage.css" asp-append-version="true" />
<script type="text/javascript" src="~/js/Manage.js"></script>
    @*<script type="text/javascript">
            $(function () {
                ko.applyBindings(CardVM, $('#card__post')[0])
            });
        </script>*@
