@{
    Layout = "_LayoutWithoutFilter";
}

@model Ads.Contracts.Dto.AdvertsInfoDto
@using Authentication.Contracts.CookieAuthentication

@{
    ViewData["Title"] = "View";
}
<script src="~/js/AdsInfo.js" asp-append-version="true"></script>
<h2>View</h2>

<h4>Advert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" class="active">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Название объявления</label>
                <input name="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Описание</label>
                <input name="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Цена</label>
                <input name="Price" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Адрес</label>
                <input name="Address" class="form-control" />
            </div>
            <div class="form-group">
                <ul required class="list-group"></ul>
            </div>
            <div class="form-group">
                <ul id="category_output"></ul>
                <input type="hidden" id="cat_name" name="CategoryId" />
            </div>
            <div class="form-group">
                <input name="Photos" multiple type="file" />
            </div>
            <div class="form-group">
                <select class="form-control form-control-sm" name="StatusId">
                    @foreach (var item in Model.Statuses)
                    {
                        <option value="@item.Id">@item.Id @item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select class="form-control form-control-sm" name="TypeId">
                    @foreach (var item in Model.Types)
                    {
                        <option value="@item.Id">@item.Id @item.Type</option>}
                </select>
            </div>

            <div class="form-group">
                <select class="form-control col" id="selectRegion" onchange="ChangeRegion();">
                    <option>Любой регион</option>
                </select>
                <input type="hidden" id="inputRegion" name="RegionId" />
            </div>

            <div class="form-group">
                <select class="form-control col" id="selectCity" onchange="ChangeCity()">
                    <option>Любой город</option>
                </select>
                <input type="hidden" id="inputCity" name="CityId" />
            </div>

            <div class="form-group">
                <input hidden name="Context" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}
