@{
    Layout = "_LayoutWithoutFilter";
}
@using Authentication.Contracts.CookieAuthentication

@{
    ViewData["Title"] = "Создание объявление";
}
<link href="~/css/_img.css" rel="stylesheet">

<input hidden id="create" />
<h2>Подать объявление</h2>
<hr />

<form asp-action="Create" enctype="multipart/form-data" class="active">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group form-row">
        <div class="col-3">
            <label class="control-label" for="inputName">Название объявления</label>
            <label style="color:orangered">*</label>
        </div>
        <div class="col-6" id="inputName">
            <input name="Name" class="form-control" id="inputName" />
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-3">
            <label class="control-label" for="inputDescription">Описание объявления</label>
        </div>
        <div class="col-6" id="inputDescription">
            <textarea class="form-control" id="Description" name="Description" rows="3"></textarea>
        </div>
    </div>

    <div class="form-group form-row" id="category">
        <div class="col-3">
            <label class="control-label" for="parentCategory">Категория</label>
            <label style="color:orangered">*</label>
        </div>
        <div class="col-3">
            <select class="form-control" id="selectParentCategory" onchange="ChangeParentCategory()">
                <option>Любая категория</option>
            </select>
        </div>
        <div hidden class="col-3" id="childCategory">
            <select class="form-control" id="selectCategories" onchange="ChangeCategory()"></select>
            <input type="hidden" id="inputCategory" name="CategoryId" />
        </div>'
    </div>

    <div class="form-group form-row">
        <div class="col-3">
            <label for="selectRegion" class="control-label">Регион</label>
            <label style="color:orangered">*</label>
        </div>
        <div class="col-3" id="region">
            <select class="form-control" id="selectRegion" onchange="ChangeRegion();">
                <option>Любой регион</option>
            </select>
            <input type="hidden" id="inputRegion" name="RegionId" />
        </div>
    </div>

    <div class="form-group form-row">
        <div class="col-3">
            <label for="selectCity" class="control-label">Город</label>
            <label style="color:orangered">*</label>
        </div>
        <div class="col-3" id="city">
            <select class="form-control" id="selectCity" onchange="ChangeCity()">
                <option>Любой город</option>
            </select>
            <input type="hidden" id="inputCity" name="CityId" />
        </div>
    </div>

    <div class="form-group form-row">
        <div class="col-3">
            <label for="inputAddress" class="control-label">Адрес</label>
        </div>
        <div class="col-3">
            <input name="Address" class="form-control" id="inputAddress" />
        </div>
    </div>

    @*<div class="form-group form-row">
            <label for="inputType" class="control-label col-3">Тип объявления</label>
            <select class="form-control col-3" name="TypeId" id="inputType">
                @foreach (var item in Model.Types)
                {
                    <option value="@item.Id">@item.Id @item.Type</option>}
            </select>
        </div>

        <div class="form-group form-row">
            <label for="inputStatus" class="control-label col-3">Статус объявления</label>
            <select class="form-control col-3" name="StatusId" id="inputStatus">
                @foreach (var item in Model.Statuses)
                {
                    <option value="@item.Id">@item.Id @item.Name</option>
                }
            </select>
        </div>*@

    <div class="form-group form-row">
        <div class="col-3">
            <label for="inputPrice" class="control-label">Цена</label>
            <label style="color:orangered">*</label>
        </div>
        <div class="col-1">
            <input name="Price" type="number" class="form-control" id="inputPrice" placeholder="₽" />
        </div>
    </div>

    <div class="form-group form-row">
        <div class="col-3">
            <label class="control-label">Фото</label>
        </div>
        <div class="form-group form-row col-6">
            <span id="outputMulti"></span>
            <div>
                <input class="inputfile" type="file" id="fileMulti" name="Photos" multiple />
                <label for="fileMulti">
                    <img src="~/images/iconPhoto.svg" />
                </label>
            </div>
        </div>
        @*<div class="col-3">
                <label class="control-label">Фото</label>
            </div>
            <div class="col-6">
                <input name="Photos" multiple type="file" />
            </div>*@
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/inputPhoto.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}
