@model Ads.WebUI.Models.AdsVMDetails
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul class="list-group">
        <li class="list-group-item nav-item" style="margin-top:10px;">
            <h3 style="text-align: center">@Model.Name</h3><hr /><br />
            <form asp-action="Delete" asp-controller="Adverts" onsubmit='return confirm("Вы точно хотите удалить объявление?");'>
                Город: @Model.City <hr />Категория: @Model.Category<hr /> Цена: @Model.Price <br />
                <hr />@Model.Description<hr /> Дата: @Model.Created <hr /><br />
                <input type="hidden" id="comment_id" value="@Model.Id" />
                <a class="nav-item text-dark" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
                <button type="submit" asp-controller="Adverts" asp-action="Delete" class="btn btn-primary" asp-route-id="@Model.Id">Удалить</button>
            </form>
        </li>
    </ul>
    <div>
        <h4>Комментарии :</h4>
        <hr />
        <ul class="list-group" id="advert_comments"></ul>
        <div class="col-md-4">
            <p>Написать комментарий: </p>
            <form asp-controller="Comments" asp-action="SaveOrUpdate" method="post">
                <input hidden name="AdvertId" value="@Model.Id" />
                <input name="Body" class="form-control" />
                <input type="button" onclick="add_comment(Body,AdvertId)" value="Сохранить" class="btn btn-default" />
            </form>
        </div>
    </div>
</div>

<script src="~/js/comments.js" asp-append-version="true"></script>
