@model Ads.MVCClientApplication.Models.AdsVMDetails
@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="card">
    <div class="card-header bg-light">
        <div class="row">
            <div class="col-9">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">Добавленно @Model.Created</p>
            </div>
            <div class="col-3">
                <h5 class="card-title text-right">@Model.Price ₽</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-7">
                @if (Model.Images.Count() > 0)
                {
                    @foreach (var i in Model.Images)
                    {
                        var src = string.Format("data:image/gif;base64,{0}", i.Content);
                        <span>
                            <img class="details-image" src='@src' width="560" height="350"/>
                        </span>
                    }
                }
                else
                {
                    <span><img class="img-responsive details" width="560" height="350" src="~/images/default.jpg" alt="Default image" /></span>
                }
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg btn-block">Информация о владельце</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Информация о владельце</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Информация о владельце</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Информация о владельце</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Информация о владельце</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Информация о владельце</button>
            </div>
        </div>
        <div class="col-7">
            <p>@Model.Address</p>
            <p>@Model.Description</p>
        </div>
        <form asp-action="Delete" asp-controller="Adverts" class="text-right" onsubmit='return confirm("Вы точно хотите удалить объявление?");'>
            <input type="hidden" id="comment_id" value="@Model.Id" />
            <a class="nav-item text-dark" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
            <button type="submit" asp-controller="Adverts" asp-action="Delete" class="btn btn-primary" asp-route-id="@Model.Id">Удалить</button>
        </form>
    </div>
</div>
<br />
<div>
    <h4>Комментарии :</h4>
    <hr />

    <div class="col-md-4">
        @if (!User.Identity.IsAuthenticated)
        {
            <p>Только зарегестрированные пользователи могут оставлять комментарии.</p>
        }
        else
        {
            <p>Написать комментарий: </p>
            <form asp-controller="Comments" asp-action="SaveOrUpdate" id="add" method="post">
                <input hidden name="AdvertId" value="@Model.Id" />
                <input name="Body" class="form-control" />
                <input type="submit" value="Оставить комментарий" class="btn btn-default" />
            </form>
        }
    </div>
    <ul class="list-group" id="advert_comments"></ul>
</div>

@*<div>
    <ul class="list-group">
        <li class="list-group-item nav-item" style="margin-top:10px;">
            <h3 style="text-align: center">@Model.Name</h3><hr /><br />
            @if (Model.Images.Count() > 0)
            {
                @foreach (var i in Model.Images)
                {
                    var src = string.Format("data:image/gif;base64,{0}", i.Content);
                    <span>
                        <img class="details-image" src='@src' />
                    </span><hr />
                }
            }
            else
            {
                <span><img class="img-responsive details" src="~/images/default.jpg" alt="Default image" /></span>
            }
                <form asp-action="Delete" asp-controller="Adverts" onsubmit='return confirm("Вы точно хотите удалить объявление?");'>
                    Город: @Model.City <hr />Категория: @Model.Category<hr /> Цена: @Model.Price <br />
                    <hr />@Model.Description<hr /> Дата: @Model.Created <hr /><br />
                    <input hidden name="Id" value="@Model.Id" />
                    <input hidden name="OwnerId" value="@Model.UserId" />     
                    <a class="nav-item text-dark" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
                    <button type="submit" asp-controller="Adverts" asp-action="Delete" class="btn btn-primary">Удалить</button>
                </form>
        </li>
    </ul>
    <div>
        <h4>Комментарии :</h4>
        <hr />
        <ul class="list-group" id="advert_comments"></ul>
        <div class="col-md-4">
            @if (!User.Identity.IsAuthenticated)
            {
                <p>Только зарегестрированные пользователи могут оставлять комментарии.</p>
            }
            else
            {
                <p>Написать комментарий: </p>
                <form asp-controller="Comments" asp-action="SaveOrUpdate" id="add" method="post">
                    <input hidden name="AdvertId" value="@Model.Id" />
                    <input name="Body" class="form-control" />
                    <input type="submit" value="Оставить комментарий" class="btn btn-default" />
                </form>
            }
        </div>
    </div>
</div>*@

<script src="~/js/comments.js" asp-append-version="true"></script>
