@model Ads.CoreService.Contracts.Dto.AdvertDto
@{
    Layout = "_LayoutWithoutFilter";
}
@{
    ViewData["Title"] = "Редактирование";
}
<link href="~/css/_img.css" rel="stylesheet">
<hr />
<h4>Редактирование объявления</h4>
<br />
<input hidden id="create" />
<input hidden id="category" value="@Model.CategoryId" />
<form asp-action="Edit" enctype="multipart/form-data" class="active">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group form-row">
        <div class="col-3">
            <label class="control-label" for="inputName">Название объявления</label>
        </div>
        <div class="col-6" id="inputName">
            <input name="Name" class="form-control" id="inputName" value="@Model.Name" />
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-3">
            <label class="control-label" for="inputDescription">Описание объявления</label>
        </div>
        <div class="col-6" id="inputDescription">
            <textarea class="form-control" id="Description" name="Description" rows="3">@Model.Description</textarea>
        </div>
    </div>

    <div class="form-group form-row" id="category">
        <div class="col-3">
            <label class="control-label" for="parentCategory">Категория</label>
        </div>
        <div class="col-3">
            <select class="form-control" id="selectParentCategory" onchange="ChangeParentCategory()">
                <option>Любая категория</option>
            </select>
        </div>
        <div class="col-3" id="childCategory" hidden>
            <select class="form-control" id="selectCategories" onchange="ChangeCategory()"></select>
            <input type="hidden" id="inputCategory" name="CategoryId" />
        </div>
    </div>

    <div class="form-group form-row">
        <div class="col-3">
            <label for="selectCity" class="control-label">Город</label>
        </div>
        <div class="col-3" id="region">
            <select class="form-control" id="selectRegion" onchange="ChangeRegion();">
                <option>Любой регион</option>
            </select>
            <input type="hidden" id="inputRegion" name="RegionId" />
        </div>
        <div class="col-3" id="city" hidden>
            <select class="form-control" id="selectCity" onchange="ChangeCity()">
                <option>Любой город</option>
            </select>
            <input type="hidden" id="inputCity" name="CityId" />
        </div>
    </div>

    <div class="form-group form-row">
        <div class="col-3">
            <label for="inputAddress" class="control-label">Адрес</label>
        </div>
        <div class="col-3">
            <input name="Address" class="form-control" id="inputAddress" value="@Model.Address" />
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col-3">
            <label for="inputPrice" class="control-label">Цена</label>
        </div>
        <div class="col-2">
            <input name="Price" type="number" class="form-control" id="inputPrice" placeholder="₽" value="@Decimal.ToInt32(Model.Price)" />
        </div>
    </div>

    <div class="form-group form-row">
        <div class="col-3">
            <label class="control-label">Фото</label>
        </div>
        <div class="form-group form-row col-6">
            <span id="outputMulti"></span>
            <div>
                <input class="inputfile" type="file" id="fileMulti" name="Photos" multiple />
                <label for="fileMulti">
                    <img src="~/images/iconPhoto.svg" />
                </label>
            </div>
        </div>
    </div>
    <div class="col-9">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>
<br />
<br />
<div>
    
</div>
<script src="~/js/inputPhoto.js" asp-append-version="true"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
