@model Ads.Contracts.Dto.AdvertDto

@{
    ViewData["Title"] = "Редактирование";
}
<script src="~/js/test.js" asp-append-version="true"></script>

<h2>View</h2>

<h4>Advert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" class="active">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Название объявления</label>
                <input type="hidden" value="@Model.Id" name="Id" />
                <input name="Name" class="form-control" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label class="control-label">Описание</label>
                <input name="Description" class="form-control" value="@Model.Description" />
            </div>
            <div class="form-group">
                @if (Model.Images.Count() > 0)
                {

                    @foreach (var i in Model.Images)
                    {
                        var src = string.Format("data:image/gif;base64,{0}", i.Content);
                        <img class="img-responsive" src='@src' /> <hr />

                    }
                }
                <input asp-for="Images" name="Photos" multiple type="file"/>
            </div>
            <div class="form-group">
                <label class="control-label">Цена</label>
                <input name="Price" class="form-control" value="@Model.Price" />
            </div>
            <div class="form-group">
                <label class="control-label">Адрес</label>
                <input name="Address" class="form-control" value="@Model.Address" />
            </div>
            <div class="form-group">
                <ul id="category_output"></ul>
                <input type="hidden" id="cat_name" name="CategoryId" value="@Model.CategoryId" />
            </div>
            <div class="form-group">
                <input name="StatusId" value="@Model.StatusId" />
            </div>
            <div class="form-group">
                <input name="TypeId" value="@Model.TypeId" />

            </div>
            <div class="form-group">
                <input name="CityId" value="@Model.CityId" />
            </div>
            <div class="form-group">
                <input name="Context" class="form-control" value="@Model.Context" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
