@model ICollection<AdsVMIndex>

@{
    ViewData["Title"] = "Фильтр";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<form asp-action="filter">
    <label class="control-label">Минимальная цена</label>
    <input name="MinValue" class="form-control" />
    <label class="control-label">Максимальная цена</label>
    <input name="MaxValue" class="form-control" />
    <input type="submit" />
</form>



<div>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item nav-item" style="margin-top:10px;">
                <form asp-action="Delete" asp-controller="Adverts" onsubmit='return confirm("Вы точно хотите удалить объявление?");'>
                    <a class="nav-item text-dark" asp-action="Details" asp-route-id="@item.Id">@item.Name @item.City @item.Created @item.Price</a> <hr />
                    <a class="nav-item text-dark" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a class="nav-item text-dark" asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <button type="submit" asp-controller="Adverts" asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Удалить</button>
                </form>
            </li>
        }
    </ul>

</div>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
