@model Ads.Shared.Contracts.PagedCollection<AdsVMIndex>
@{
    int? GetCurrentUserId()
    {
        if (!User.Identity.IsAuthenticated)
            return null;
        int userId = Convert.ToInt32(
            User.Claims.FirstOrDefault(t =>
            t.Type == Authentication.Contracts.CookieAuthentication.CookieCustomClaimNames.UserId).Value);
        return userId;
    }
    int? UserId = GetCurrentUserId();
    ViewData["Title"] = "Главная страница";
}

<div class="album py-3 bg-white">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Items)
            {
                string advertId = "advert" + item.Id.ToString();
                <div class="col-md-4" id="advert_list">
                    <div class="card mb-4 box-shadow">
                        <div id="@advertId" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators @item.Id"></ol>
                            <div class="carousel-inner @item.Id">
                                <div id="index" class="carousel-item active @item.Id" width="320" height="240">
                                    <div class="overlay-loader">
                                        <div class="loader">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <a class="carousel-control-prev" href="#@advertId" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#@advertId" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        @if ((User.Identity.IsAuthenticated) && (UserId == item.UserId))
                        {
                            <form asp-action="Delete" asp-controller="Adverts" class="align-self-end" style="position:absolute; background-color:black;opacity:0.5;" onsubmit='return confirm("Вы точно хотите удалить объявление?");'>
                                <a class="btn btn-link" style="color:white;" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                                <input hidden name="Id" value="@item.Id" />
                                <input hidden name="OwnerId" value="@item.UserId" />
                                <button type="submit" asp-controller="Adverts" asp-action="Delete" style="color:white;" class="btn btn-link">Удалить</button>
                            </form>
                        }
                        <div class="card-body">
                            <h5 class="index"><a class="card-text index" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h5>
                            <p class="card-subtitle">Цена: @item.Price</p>
                            <p class="card-subtitle">г.@item.City.Name</p>
                            <p class="card-subtitle">@item.Created</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.PageNumber > 1)
        {
            <a href="/?PageNumber=@(Model.PageNumber-1)">Предыдущая страница</a>
        }
        @if (Model.PageNumber < Model.TotalPages)
        {
            <a href="/?PageNumber=@(Model.PageNumber+1)">Следующая страница</a>
        }
    </div>
</div>
<link rel="stylesheet" href="~/css/_loader.css" asp-append-version="true" />

<script src="~/js/AdvertPhotosLoad.js" asp-append-version="true"></script>
