@model List<AdsVMIndex>
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/test.js" asp-append-version="true"></script>
<div class="my_nav">
    <form asp-action="Index" method="get">
        <ul id="category_output"></ul>
        <input type="hidden" id="cat_name" name="CategoryId" />
        <input name="Substring" class="input-sm" placeholder="Поиск..." />
        <button class="btn btn-default btn-xs btn-block" id="filter"> Фильтровать</button>
        <br />
        <span class="price">
            Диапазон: от
            <input type="number" step="1" min="1" max="27" id="num_count" name="MinValue" value="" class="input-sm input-price" size="4" />
            до :
            <input type="number" step="1" min="1" max="1500000000" id="MaxValue" name="MinValue" value="" class="input-sm input-price" size="4" />
        </span>

    </form>
</div>

@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Удалить объявление</h4>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить?
                </div>
                <div class="modal-footer">
                    <form method="post" asp-controller="Adverts" asp-action="Delete">
                        <input hidden value="@ViewData["id"]"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" action="Delete" class="btn btn-primary">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

<div class="cat_list">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li id="advert_list" class="list-group-item nav-item">
                <form asp-action="Delete" asp-controller="Adverts" onsubmit='return confirm("Вы точно хотите удалить объявление?");'>
                    <a class="nav-item text-dark" asp-action="Details" asp-route-id="@item.Id">  </a>
                    <p>@item.Name</p>
                    <p>@item.City</p>
                    <p>@item.Price<hr />@item.Created</p>
                    <span class="adverts_actions">
                        <a class="nav-item text-dark" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a class="nav-item text-dark" asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                        <button type="submit" asp-controller="Adverts" asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Удалить</button>
                    </span>
                </form>
            </li>
        }
    </ul>

</div>