@model Ads.Shared.Contracts.PagedCollection<AdsVMIndex>
@{
    int? GetCurrentUserId()
    {
        if (!User.Identity.IsAuthenticated)
            return null;
        int userId = Convert.ToInt32(
            User.Claims.FirstOrDefault(t =>
            t.Type == Authentication.Contracts.CookieAuthentication.CookieCustomClaimNames.UserId).Value);
        return userId;
    }
    int? UserId = GetCurrentUserId();
    ViewData["Title"] = "Home Page";
}
<script src="~/js/AdsInfo.js" asp-append-version="true"></script>
<script src="~/js/dropdownCategory.js" asp-append-version="true"></script>

@*
    <form asp-action="Index" method="get">
        <div class="form-row">
            <div class="col-6">
                <input name="Substring" class="form-control" placeholder="Поиск..." />
            </div>

            <div class="col-2">
                <ul class="nav nav-item">
                    <li class="nav dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Любая категория<b class="caret"></b>
                        </a>
                        <lu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="category_output">

                        </lu>
                    </li>
                </ul>
                <input type="hidden" id="cat_name" name="CategoryId" />
            </div>

            <select class="form-control col-2" id="perCarygory">
                <option>Любой город</option>
            </select>
            <select class="form-control col-2" id="perCarygory">
                <option>Любая категория</option>
            </select>
            <div class="col-2">
                <button class="btn btn-primary" id="filter"> Фильтровать</button>
            </div>

        </div>
    </form>
*@

<div class="album py-5 bg-white">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col-md-4" id="advert_list">
                    <div class="card mb-4 box-shadow">
                        @if (item.Images != null)
                        {
                            if (!string.IsNullOrEmpty(item.Images.FirstOrDefault()))
                            {

                                var src = string.Format("data:image/gif;base64,{0}", item.Images.First());
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src='@src' data-holder-rendered="true">
                            }
                            else
                            {
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/default.jpg" data-holder-rendered="true">

                            }
                        }
                        <div class="card-body">
                            <h5><a class="card-text" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h5>
                            <p class="card-subtitle">Цена: @item.Price</p>
                            <p class="card-subtitle">г.@item.City.Name</p>
                            <p class="card-subtitle">@item.Created</p>
                            @if ((User.Identity.IsAuthenticated) && (UserId == item.UserId))
                            {
                            <form asp-action="Delete" asp-controller="Adverts" onsubmit='return confirm("Вы точно хотите удалить объявление?");'>
                                <a class="card-text" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                                <input hidden name="Id" value="@item.Id" />
                                <input hidden name="OwnerId" value="@item.UserId" />
                                <button type="submit" asp-controller="Adverts" asp-action="Delete" class="btn btn-primary">Удалить</button>
                            </form>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.PageNumber > 1)
        {
            <form>
                <input hidden name="PageNumber" value="@(Model.PageNumber-1)" />
                <button asp-action="Index" asp-controller="Adverts">Предыдущая страница</button>
            </form>
        }
        @if (Model.PageNumber < Model.TotalPages)
        {
            <form>
                <input hidden name="PageNumber" value="@(Model.PageNumber+1)" />
                <button asp-action="Index" asp-controller="Adverts">Следующая страница</button>
            </form>
        }
    </div>
</div>